*{
    margin: 0;
    padding: 0;
}

.table-box
{
    margin: 50px auto;
}
body {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(57,57,57,1) 43%, rgba(92,92,92,1) 100%); /* Cambia lightgray por el color que desees */
}
.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background-color: white;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #1e2326;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    border: 1px solid white; 
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}

.button-R-pushable {
    position: relative;
    margin-top: 20px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-R-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-R-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button-R-front {
    display: block;
    position: relative;
    padding: 6px 16px;
    border-radius: 12px;
    font-size: 1.0rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-R-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-R-pushable:hover .button-R-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-R-pushable:active .button-R-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-R-pushable:hover .button-R-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-R-pushable:active .button-R-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-R-pushable:focus:not(:focus-visible) {
    outline: none;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
.buttonCr-R-container {
    display: flex;
    justify-content: center;
}

.buttonCr-R-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonCr-R-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.buttonCr-R-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%);
}

.buttonCr-R-front {
    display: block;
    position: relative;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1.2rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.buttonCr-R-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.buttonCr-R-pushable:hover .buttonCr-R-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.buttonCr-R-pushable:active .buttonCr-R-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.buttonCr-R-pushable:hover .buttonCr-R-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.buttonCr-R-pushable:active .buttonCr-R-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.buttonCr-R-pushable:focus:not(:focus-visible) {
    outline: none;
}

.Subir {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Subir h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-label {
    font-size: 16px;
    color: #666;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #1e2326;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #31373a;
}